<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contenido Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Catálogo de productos?</strong>
    <p>
      Ingresa al siguiente enlace para ver los productos
      <a rel="noopener noreferrer" [routerLink]="['/products']">Productos</a>
    </p>
  </div>

  <ion-button [routerLink]="['/products']">Ver Productos</ion-button>
</ion-content>
